.container {
    height: 100vh;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    color: var(--clr-light-3);
    font-weight: 300;
    font-size: 1.25rem;
    transform: translateY(100px);
    transition: 1s;
    opacity: 0;
    margin: 0% auto 0 150px;
}

.container>div:nth-child(2)>div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.container h2 {
    color: var(--clr-light-2);
    font-size: 3.25rem;
    position: relative;
    line-height: 60px;
    letter-spacing: 1px;
    transform: scaleX(0);
    transform-origin: left;
    transition: .5s;
    transition-property: transform;
}

/* name */
.container>div:nth-child(2)>div:nth-child(1)>h2:nth-child(1) {
    transition-delay: 1s;
}

.container>div:nth-child(2)>div:nth-child(1)>h2:nth-child(2) {
    transition-delay: 1.25s;
}

/* Ibulid thing text */
.container>div:nth-child(2)>div:nth-child(2)>h2:nth-child(1) {
    transition-delay: 1.5s;
}

.container>div:nth-child(2)>div:nth-child(2)>h2:nth-child(2) {
    transition-delay: 1.75s;
}

.container>div:nth-child(2)>div:nth-child(2)>h2:nth-child(3) {
    transition-delay: 2s;
}

.container>div:nth-child(2)>div:nth-child(2)>h2:nth-child(4) {
    transition-delay: 2.25s;
}

.container>div:nth-child(2)>div:nth-child(2)>h2:nth-child(5) {
    transition-delay: 2.5s;
}

.container>div:nth-child(2)>div:nth-child(2)>h2:nth-child(6) {
    transition-delay: 2.75s;
}


.paragraph {
    width: 95%;
    max-width: 500px;
}

/* Button */
.container button {
    width: 50%;
    max-width: 150px;
    background-color: var(--clr-light-2);
    color: var(--clr-light-1);
    position: relative;
    cursor: pointer;
    font-weight: 500;
    font-size: .8rem;
    border: 2px solid transparent;
    overflow: hidden;
    transition: .25s;
    padding: 15px 0;
    margin: 15px 0 0 0;
}

.container button:hover {
    background-color: transparent;
    border: 2px solid var(--clr-light-2);
    color: var(--clr-light-2);
}




/* ***************************** */
/* ***************************** */
/* Media Query */
@media screen and (max-width:950px) {
    .container {
        height: calc(100vh - 70px);
        max-width: 100%;
        margin: 0% auto 0 50px;
    }

    .paragraph {
        max-width: 700px;
    }
}

@media screen and (min-width:0px) and (max-width:450px) {
    .container {
        align-items: center;
        justify-content: center;
        gap: 15px;
        text-align: center;
        font-size: 95%;
        margin: 0% auto 0px 0px;
    }

    .container>div:nth-child(2)>div {
        justify-content: center;
    }

    .container h2 {
        font-size: 2.25rem;
        line-height: 40px;
    }
}