.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 0;
}


/* Title */
.container>div:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fredoka One', cursive;
    position: relative;
}

.container>div:nth-child(1) h2:nth-child(1) {
    color: var(--clr-light-1);
    font-size: 7rem;
    position: absolute;
    opacity: .1;
    letter-spacing: 10px;
    z-index: -1;
}

.container>div:nth-child(1) h2:nth-child(2) {
    color: var(--clr-light-1);
    font-size: 5rem;
    letter-spacing: 5px;
    text-align: center;
    line-height: 75px;
}

.container>div:nth-child(1) h2:nth-child(2) span {
    color: var(--clr-light-4);
}


/* Projects */
.projectsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 75px 50px;
}

.projectsContainer>div {
    width: 270px;
    height: 270px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

/* Layer */
.layer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--clr-dark-2);
    position: absolute;
    inset: 0;
    transition: .25s;
}

.layer h2 {
    color: var(--clr-light-1);
}

.layer img {
    max-width: 40px;
}

.projectsContainer>div:nth-child(3) img {
    max-width: 150px;
}




/* ****************************** */
/* ****************************** */
/* Media Query */
@media screen and (max-width:500px) {

    /* Title */
    .container>div:nth-child(1) h2:nth-child(1) {
        font-size: 3rem;
    }

    .container>div:nth-child(1) h2:nth-child(2) {
        font-size: 2.75rem;
        line-height: 40px;
    }

    /* Projects */
    .projectsContainer {
        padding: 75px 5px;
    }

    .projectsContainer>div {
        max-width: 300px;
    }
}

@media screen and (min-width:0px) and (max-width:1023px) {
    .projectsContainer>div:hover .layer {
        opacity: 0;
    }
}