.container {
    width: 95%;
    max-width: 1000px;
    color: var(--clr-light-1);
    margin: 125px 0 50px 0;
}

.container>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}


/* Name */
.container h2 {
    color: var(--clr-light-2);
    font-size: 3rem;
}


/* Description */
.container>div>p {
    max-width: 700px;
}


/* Technologies and code */
.container>div>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin: 10px 0;
}

.container>div>div>span {
    min-width: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.container>div>div>span>p:nth-child(1) {
    font-weight: 500;
    text-decoration: 2px underline;
}

.container>div>div>span>p:not(p:nth-child(1)),
.container>div>div>span>a {
    color: var(--clr-light-4);
    transition: .25s;
}

/* github link */
.container>div>div>span>a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.container>div>div>span>a svg {
    width: 15px;
    fill: var(--clr-light-4);
}

.container>div>div>span>a:hover {
    text-decoration: 2px underline;
}

/* Visist Button */
.container>div>a {
    width: 95%;
    max-width: 125px;
    background-color: var(--clr-light-2);
    font-weight: 500;
    font-size: .9rem;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: .25s;
    padding: 15px 0;
    margin: 0 auto;
}

.container>div>a:hover {
    border: 2px solid var(--clr-light-2);
    color: var(--clr-light-2);
    background-color: transparent;
}



/* ****************************** */
/* ****************************** */
/* Media Query */
@media screen and (max-width:950px) {
    .container {
        margin: 50px 0 0 0;
    }
}

@media screen and (min-width:0px) and (max-width:500px) {

    /* Name */
    .container h2 {
        font-size: 2.5rem;
        align-self: center;
    }

    /* Description */
    .container>div>p {
        text-align: center;
    }
}