.container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}


/* Icons */
.container button {
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 10;
}

.container button svg {
    width: 100%;
    height: 100%;
    fill: var(--clr-light-1);
    cursor: pointer;
    transition: .25s;
}

.container button:hover svg {
    fill: var(--clr-light-4);
}

/* Images */
.container>div {
    width: 100%;
    max-width: 700px;
}

.imageContainer {
    width: 100%;
    height: 325px;
    display: flex;
    position: relative;
}

.imageContainer>div {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .75s;
    border-radius: 10px;
    overflow: hidden;
}

/* Mobile Button */
.mobileBtns {
    display: none;
}


/* ****************************** */
/* ****************************** */
/* Media Query */
@media screen and (max-width:950px) {
    .container {
        padding: 25px 10px;
    }
}

@media screen and (min-width : 0px) and (max-width:768px) {
    .container {
        flex-direction: column;
        gap: 20px;
    }

    /* Icons */
    .container>button {
        display: none;
    }

    /* Mobile Button */
    .mobileBtns {
        display: flex;
        justify-content: center;
        gap: 150px;
    }

    /* Images */
    .container>div {
        width: 95%;
        max-width: 500px;
    }

    .imageContainer {
        height: 250px;
    }

    .imageContainer>div {
        transform: scale(1);
    }
}

@media screen and (min-width : 0px) and (max-width:500px) {

    /* Mobile Button */
    .mobileBtns {
        gap: 75px;
    }

    /* Buttons */
    .container button {
        width: 20px;
        height: 20px;
    }

    /* Images */
    .container>div {
        width: 95%;
        max-width: 300px;
    }

    .imageContainer {
        height: 140px;
    }

    .imageContainer>div {
        border-radius: 5px;
    }
}

@media screen and (min-width:1250px) {
    .imageContainer>div {
        transform: scale(1.25);
    }
}