:root {
  --clr-light-1: #fff;
  --clr-light-2: #208AAE;
  --clr-light-3: #C3DBC5;
  --clr-light-4: #59C3C3;


  --clr-dark-1: #0D2149;
  --clr-dark-2: #232C33;
  --clr-dark-3: #01172F;
  --clr-dark-4: #000;

  --layer-1: rgba(0, 0, 0, 0.75);
  --layer-2: rgba(0, 0, 0, 0.5);
  --layer-3: rgba(0, 0, 0, 0.25);
}


* {
  margin: 0;
  padding: 0;
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Oswald', sans-serif;
}

button {
  border: none;
  background: transparent;
  color: inherit;
  font-family: inherit;
}