.main {
    width: 100%;
    max-width: 1500px;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    backdrop-filter: blur(2px);
    padding: 0px 50px;
    margin: 0 auto;
}

.main>header {
    display: none;
}

/* middle section */
.main>section:nth-child(3) {
    width: 100%;
}

.main>section:nth-child(3)>section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

/* Style scroll bar */
.main::-webkit-scrollbar {
    appearance: none;
    width: 4px;

}

.main::-webkit-scrollbar-thumb {
    background-color: var(--clr-light-4);
    border-radius: 5px;
}

.main::-webkit-scrollbar-track {
    width: 5px;
}



/* ***************************** */
/* ***************************** */
/* Media query */
@media screen and (max-width:1024px) {
    .main {
        padding: 0px 10px;
    }
}

@media screen and (min-width:0px) and (max-width:950px) {
    .main {
        flex-direction: column;
        padding: 0px;
    }

    .main>header {
        display: flex;
    }

    .main>section:nth-child(2) {
        display: none;
    }
}