.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(var(--layer-1), var(--layer-1)), url("/assets/images/programming.png") center/cover no-repeat;
}

.main>section {
    display: flex;
    gap: 20%;
    margin-left: 50px;
}